*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #FF752A;
}

.parent{
    /*position: absolute;*/
    max-width: 992px;
    left: calc(50% - 496px);
    background-color: #C0C0C0;
    margin: 0 auto;
    padding: 10px 10px 100px 10px;
}

.parent::after{
    content: "";
    clear: both;
    display: block;
}

div{
    /*border: solid;*/
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.red{
    background-color: #FF0000;
    height: 82px;
    width: calc(50% - 4px);
}

.green{
    background-color: #00FF00;
    height: 100px;
    width: calc(25% - 4px);
}

.blue{
    background-color: #00FFFF;
    height: 100px;
    width: calc(33.3333% - 4px);
}

.purple{
    background-color: #FF00FF;
    height: 45px;
    width: calc(11.1111% - 4px);
}

.box_parent{
    border: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}



@media (max-width: 768px) {
    .red{
        width: calc(100%);
    }

    .green{
        /*background-color: #00FF00;*/
        /*height: 100px;*/
        width: calc(50% - 4px);
    }

    .blue{
        width: calc(100%);
    }

    .purple{
        width: calc(33.3333% - 3px);
    }

    .parent{
        max-width: 768px;
        left: calc(50% - 384px);
        background-color: #C0C0C0;
        margin: 0 -2px;
        padding: 10px 10px 100px 10px;
    }
}